<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css" />
    <title>MLH - Markov Chain Bot</title>
  </head>
  <body>

  <nav class="navbar navbar-default topbar-bot">
    <div class="container-fluid">
      <div class="navbar-header flex-topbar">
        <a class="navbar-brand" href="#">
          <img alt="mlh-logo" src="/static/logo.svg">
        </a>
        <p class="navbar-text">Markov Chain Bot!</p>
      </div>
    </div>
  </nav>

 
    <div class="container">
      <div class="row form-container">
        <div class="col-md-10">
          <form action="" method="POST">
            <div class="form-group">
              <label for="username">Who do you want to chat with?</label>
              <input
                type="name"
                name="username"
                class="form-control username"
                id="username"
                placeholder="@jimmyfallon"
                value="@jimmyfallon"
              />
              <small id="usernameHelp" class="form-text text-muted"
                >Use a twitter handle. For instance: @jimmyfallon or
                @TheEllenShow.</small
              >
            </div>

            <div class="form-group">
              <div class="chat-messages" id="chat-messages">
                <div class="empty-val"></div>
              </div>

              <div class="input-group">
                <label for="message" class="hidden">Type your message...</label>
                <input
                  type="text"
                  class="form-control message"
                  placeholder="Type your message..."
                  aria-label="Type your message..."
                  id="message"
                  name="message"
                />
                <div>
                  <button
                    class="btn btn-primary"
                    id="submit"
                    type="submit"
                    disabled="disabled"
                  >
                    Send message
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    <script src="/static/script.js"></script>
  </body>
</html>
